.text-orange {
    color: #e66a05;
}

.text-blue {
    color: #153ad1;
}

.text-yellow {
    color: #ffd43b;
}

.text-cayn {
    color: #74c0fc;
}

.text-red {
    color: #ff0000;
}

.text-green {
    color: #4bb125;
}