@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -120%;
        transition: all 0.5s;
        z-index: 1;
        width: 370px;
        background-color: black;
        padding: 0;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px);
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .card {
        width: auto;
    }

    .cardContainer {
        margin: 0px;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .right {
        margin: 0;
    }

    .abovebar {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .timevol {
        flex-direction: column;
        gap: 12px;
    }
}

@media (max-width: 400px) {
    .card {
        width: 64vw;
    }
}